<?php

return array(
    'doctrineviewer' => array(
        /**
         *  Doctrine object manager name
         */
        // 'object_manager_name' => 'doctrine.entitymanager.orm_default',
    ),
);